@charset utf-8;

/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent;}

body{font-family:NanumGothic,나눔고딕,'Nanum Gothic','맑은 고딕',HelveticaNeue,DroidSans,Sans-serif,Helvetica;
background:url(../images/s_images/body_bg.png); line-height:1;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

audio,canvas,progress,video {display: inline-block; vertical-align: baseline;}

nav ul, li{list-style:none;}

a{margin:0; padding:0; font-size:100%; text-decoration:none; vertical-align:baseline; color:#666; background:transparent; selector-dummy : expression(this.hideFocus=true);}

img{border:0; vertical-align:top;}

table{border-collapse:collapse; border-spacing:0;}

input{margin:0; padding:0; box-sizing:content-box; vertical-align:top; appearance:none; border:1px solid #e65d5d; color:#e65d5d; border-radius:0; 
font-family:NanumGothic,나눔고딕,'Nanum Gothic','맑은 고딕',HelveticaNeue,DroidSans,Sans-serif,Helvetica;}

input::-moz-input-placeholder{color:#e65d5d;}

input::-webkit-input-placeholder {color:#e65d5d;}

::selection {background:#face00; color:#fff;} 

/* 웹폰트 CSS */
@font-face{font-family:'Nanum Gothic'; src:url(../font/NanumGothic.eot)}
@font-face{font-family:'Nanum Gothic'; src:url(../font/NanumGothic.woff)}
@font-face{font-family:'HelveticaNeueLTPro-Roman'; src:url(../font/HelveticaNeueLTPro-Roman.woff)}
@font-face{font-family:'HelveticaNeueLTPro-Th'; src:url(../font/HelveticaNeueLTPro-Th.woff)}
@font-face{font-family:'Helvetica'; src:url(../font/Helvetica.woff)}
@font-face{font-family:'HelveticaLight'; src:url(../font/HelveticaLight.woff)}
@font-face{font-family:'HelveticaNarrowBold'; src:url(../font/HelveticaNarrowBold.woff)}
@font-face{font-family:'MyriadPro-Regular'; src:url(../font/MyriadPro-Regular.woff)}
@font-face{font-family:'MyriadPro-Cond'; src:url(../font/MyriadPro-Cond.woff)}